.jumbotron{
    background-color: lightblue;
}
.modal{
    position: fixed;
    width: inherit;
    max-height: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-content{
    background-color: #fefefe;
    margin: 50px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.submitButton{
    margin: 20px;
}