.banner{
    background-color: lightblue;
    color: white;
    text-emphasis: bold;
    padding: 25px;
}
.jumbotron{
    background-color: lightblue;
    color: white;
    text-emphasis: bold;
}
.contactInfo{
    vertical-align: middle;
}
p{
    text-align: center;
}
h3{
    text-align: center;
}
header.masthead{
    position: relative;
    background-color: #343a40;
    background: url(../images/header2.jpg);
    background-size: cover;
    height: 400px;
    padding-bottom: 8rem;
}
.masthead{
    color: white;
}
